.DS_Store
*.swp
*.bak
*.tmp
*.orig
*~
.git
.gitignore
.bzr
.bzrignore
.hg
.hgignore
.svn
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.vscode
.idea
__pycache__
.venv
*.pyc
.pytest_cache
coverage/
.tox/
*.log
*.pem
*.key
README.md
tests/
charts/*/templates/tests/
